* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 62.5%;
}
li, a, button {
    font-family:'Montserrat', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: #fff;
}
header h1 {
    margin-right: auto;
    font-weight: bold;
    font-size: 3.5rem;
    cursor: pointer;
    color: #fff;
    font-family: 'East Sea Dokdo', arial;
/*     font-family: 'Arimo', sans-serif; */
}
header {
    display: flex;
    background: #04A777;
/*     background: #4C4B63; */
    justify-content: flex-end;
    align-items: center;
    padding: 30px 15px;
}
header img {
    height: 50px;
    width: 300px;
}
/* slider */
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
}

.nav__links {
    list-style: none;
}
.nav__links  li {
    display: inline-block;
    padding: 0 20px;
}
.nav__links  li  a {
    transition: all 0.3s ease 0s;
}
.nav__links  li  a:hover {
    color:  #06847e;
}
.hero_responsive {
    display: none;
}
main {
    height: 50vh;
background: #F7CE5B;
}
.section_responsive {
    height: 200vh;
    margin: 0;
    background: #00A6FB;
}
@media screen and (max-width:768px) {
    .logo {
        display: none;
    }
    nav {
        display: none;
    }
    .hero_responsive {
        display: inline-block;
    }
    .hero_responsive img {
        padding: 10px;
        width: 350px;
    }
    .hero_responsive_title {
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        font-size: 3rem;
        font-family: 'Arimo', sans-serif;
    }
    .section_responsive_title {
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        font-size: 2.5rem;
        font-family: 'Arimo', sans-serif;
    }
    .newsletter-header {
        display: flex;
        align-items: baseline;
        align-content: center;
    }
    .news-icon {
        width: 30px;
        color: #fff;
    }
    .section-grid {
        display: inline-block;
    }
    .section_logo_responsive {
        width: 150px;
    }
    .malas-tierras-newsletter {
        width: 130px;
        border-radius: 50%;
        padding-right: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .news-malas-tierras {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .cassette-negro {
        width: 130px;
        border-radius: 50%;
        padding-top: 10px;
        padding-left: 10px;
    }
    .cassette-news {
        display: flex;
        align-items: center;
        padding-top: 15px;
    }
    h2 {
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        font-size: 2.5rem;
        font-family: 'Arimo', sans-serif;
    }

    .section_responsive_text {
        font-size: 1rem;
        padding: 7px;
    }
    footer {
        height: 100vh;
        background: #04A777;
        margin: 0;
    }
    footer img {
        padding: 10px;
        width: 350px;
    }
    footer h1 {
        color: #fff;
        padding: 10px;
        margin-top: 10px;
        font-size: 2.5rem;
        font-family: 'Arimo', sans-serif;
        margin: 0;
    }
    .money-icon {
        width: 30px;
        padding: 0;
    }
    .header-tienda {
        display: flex;
        align-items: center;
        align-content: center;
    }
    .store-grid {
        display: block;
    }
    .store-grid img {
    }
    .welcome-news {
        border-top: dashed #fff 1px;
    }
    .welcome-news img {
        width: 350px;
        margin-left: 5px;
    }
    .welcome-news p {
        color: #fff;
        font-size: 1.7rem;
        font-family: 'Arimo', sans-serif;
        text-align: center;
        padding-top: 10px;
    }
}